.comment.clearfix
  .comment_content
    %br
    %p.comment_name= comment.name
    %p.comment_body= comment.body
    
/%p
/= button_to 'Delete', item_path(@item.comments.find(params[:id])),  :method => :delete, :confirm => 'Are you sure?', class:'button'