.div.container#welcome

    %h1.div.message.alert.alert-info.text-center#welcome_title
        
        %br
        %br
        %br
        That's ≡Listed
        %br
        %br
        %br
        
    %p.div.text-center
        %br
        %br
        %br
        %a.button.btn.btn-primary.btn-lg{:type => "button", :href => items_path} Enter the Dungeon
      
      